* {
  margin: 0px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.logo {
  padding-left: 120px;
}

.english {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1300px;
}

.khuvsgul {
  width: 1440px;
  margin: 0 auto;
}

.tap {
  width: 100%;
  height: 773px;
  align-items: center;
  justify-content: center;
  background-image: url(./background.png);
  background-position: center;
  background-size: cover;
}

.fix {
  display: flex;
  position: fixed;
  align-items: center;
}

.logo {
  position: fixed;
  width: 100px;
  height: 34px;
  padding-top: 75px;
}

.items {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: "Inter", sans-serif;
  justify-content: center;
  color: white;
  font-size: 18px;
  padding-top: 60px;
  gap: 70px;
}

.english {
  font-family: "Inter", sans-serif;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding-top: 90px;
}

.tap1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 80px;
}

.tap2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 250px;
  width: 618px;
  height: 250px;
}

.tap3 {
  font-family: "Hanuman", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  width: 144px;
  height: 64px;
}
.tep {
  width: 100%px;
  height: 500px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-image: url(./background2.png);
}

.terkh {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  position: relative;
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
}

.text1 {
  position: absolute;
  width: 232px;
  height: 88px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.65);
}

.amar {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  position: relative;
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
}

.text2 {
  position: absolute;
  width: 232px;
  height: 88px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  color: white;
}

.lake {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  position: relative;
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
}

.text3 {
  position: absolute;
  width: 232px;
  height: 88px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  color: white;
}

.khorgo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  position: relative;
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 8px 8px rgba(41, 114, 139, 0.25),
    -8px -8px rgba(31, 114, 170, 0.46);
}

.text4 {
  position: absolute;
  width: 232px;
  height: 88px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  color: white;
}

.map {
  width: 100%;
  height: 902px;
  display: flex;
  background-image: url(./Roadmap\ image.png);
  background-position: center;
  background-size: cover;
  flex-direction: column;
}

.agency1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1442px;
  height: 51px;
  font-size: 42px;
  font-family: "Inter", sans-serif;
}

.pack {
  font-family: "Inter", sans-serif;
  width: 1442px;
  height: 51px;
  font-size: 20px;
  text-align: center;
  color: rgba(24, 24, 27, 0.7);
}

.boxes1 {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  grid-gap: 20px;
  justify-content: center;
  position: relative;
  text-align: justify;
  left: 120px;
  right: 120px;
  top: 59px;
}

.box1 {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(238, 233, 217, 1);
  width: 513px;
  height: 112px;
  border-radius: 120px;
  align-items: center;
  justify-content: end;
}

.day {
  display: flex;
  width: 50px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(247, 246, 243, 1);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.box2 {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(139, 184, 193, 0.8);
  width: 513px;
  height: 112px;
  border-radius: 120px;
  align-items: center;
  justify-content: end;
}
.day2 {
  display: flex;
  width: 52px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(247, 246, 243, 1);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.box3 {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(170, 216, 215, 0.8);
  width: 513px;
  height: 112px;
  border-radius: 120px;
  align-items: center;
  justify-content: end;
}

.day3 {
  display: flex;
  width: 52px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(247, 246, 243, 1);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.box4 {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(139, 192, 189, 0.8);
  width: 513px;
  height: 112px;
  border-radius: 120px;
  align-items: center;
  justify-content: end;
}

.day4 {
  display: flex;
  width: 52px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(247, 246, 243, 1);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.box5 {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(151, 204, 224, 0.8);
  width: 513px;
  height: 112px;
  border-radius: 120px;
  align-items: center;
  justify-content: end;
}

.day5 {
  display: flex;
  width: 52px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(247, 246, 243, 1);
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.top {
  width: 100%;
  height: 1120px;
  background-image: url(./background4.png);
}

.tex2 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.agency2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 51px;
  font-size: 42px;
  font-family: "Inter", sans-serif;
}

.choose {
  font-family: "Inter", sans-serif;
  width: 1440px;
  height: 24px;
  font-size: 20px;
  text-align: center;
  color: rgba(24, 24, 27, 0.7);
}

.box11 {
  box-sizing: border-box;
  background-color: rgba(250, 251, 252, 1);
  width: 384px;
  height: 527px;
  border-radius: 40px;
}

.box22 {
  box-sizing: border-box;
  background-color: rgba(250, 251, 252, 1);
  width: 384px;
  height: 527px;
  border-radius: 40px;
}

.box33 {
  box-sizing: border-box;
  background-color: rgba(250, 251, 252, 1);
  width: 384px;
  height: 527px;
  border-radius: 40px;
}

.map-pin-sukhbaatar {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 230px;
  left: 1048px;
}

.map-pin-amarbayasgalant {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 72px;
  left: 832px;
}

.map-pin-khorgo {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 680px;
  top: 180px;
}

.map-pin-terkh {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 773px;
  top: 300px;
}

.sukhbaatar {
  position: absolute;
  width: 245.34px;
  height: 245px;
  /* top: 1570px;
  left: 1500px; */
  bottom: 250px;
  left: 970px;
}

.amarbayasgalant {
  position: absolute;
  width: 245.34px;
  height: 245px;
  /* top: 1380px;
  left: 1330px; */
  bottom: 440px;
  left: 810px;
}

.khorgiin-togoo {
  position: absolute;
  width: 245.34px;
  height: 245px;
  /* top: 1530px;
  left: 1040px; */
  bottom: 300px;
  left: 580px;
}

.terkhiin-tsagaan-lake {
  position: absolute;
  width: 245.34px;
  height: 245px;
  /* top: 1650px;
  left: 1230px; */
  bottom: 170px;
  left: 740px;
}

.khuvsgul-lake {
  position: absolute;
  width: 245.34px;
  height: 245px;
  /* top: 1340px;
  left: 1080px; */
  bottom: 480px;
  left: 540px;
}

.img {
  display: none;
}

.sukhbaatar-text:hover {
  border: 2px solid white;
  border-radius: 120px;
}

.sukhbaatar-text:hover ~ .sukhbaatar {
  display: block;
}

.boxes2 {
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 24px;
  position: relative;
  left: 119px;
}

.love1 {
  padding: 30px;
  width: 36px;
  height: 36px;
}

.love2 {
  padding: 30px;
  width: 36px;
  height: 36px;
}

.love3 {
  padding: 30px;
  width: 36px;
  height: 36px;
}

.title {
  display: flex;
  align-items: center;
  width: 141px;
  height: 22px;
}

.usd1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-left: 24px;
}

.includes {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  /* grid-gap: 40px; */
  /* width: 336px; */
  /* height: 180px; */
  margin-left: 24px;
}

.ess1 {
  font-size: 16px;
  color: rgba(145, 145, 145, 1);
  padding-left: 24px;
}

.usd2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-left: 24px;
}

.ess2 {
  font-size: 16px;
  color: rgba(145, 145, 145, 1);
  padding-left: 24px;
}

.popular {
  display: flex;
  color: white;
  background-color: rgba(105, 114, 181, 1);
  width: 91px;
  height: 27px;
  border-radius: 80px;
  justify-content: center;
  align-items: center;
}

.usd3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-left: 24px;
}

.ess3 {
  font-size: 16px;
  color: rgba(145, 145, 145, 1);
  padding-left: 24px;
}

/* .check {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
} */

.zv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.select-package1 {
  font-family: "Inter", sans-serif;
  width: 336px;
  height: 48px;
  border-radius: 999px;
  background-color: rgba(164, 209, 226, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.select-package2 {
  font-family: "Inter", sans-serif;
  width: 336px;
  height: 48px;
  border-radius: 999px;
  background-color: rgba(164, 209, 226, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 11px;
}

.select-package3 {
  font-family: "Inter", sans-serif;
  width: 336px;
  height: 48px;
  border-radius: 999px;
  background-color: rgba(164, 209, 226, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 19px;
}

.love-pack {
  display: flex;
  align-items: center;
}

.dollar {
  font-family: "Montserrat", sans-serif;
  padding-left: 24px;
  font-size: 40px;
}

.tilt {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bal-pop {
  display: flex;
  align-items: center;
  gap: 90px;
}

.aaa {
  display: flex;
}

.lists {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 17px;
}

.img1 {
  width: 14px;
  height: 14px;
}
.img2 {
  width: 14px;
  height: 14px;
}
.img3 {
  width: 14px;
  height: 14px;
}
.img4 {
  width: 14px;
  height: 14px;
}
.img5 {
  width: 14px;
  height: 14px;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 140px;
}
.monastery {
  padding-right: 38px;
}
.togoo {
  padding-right: 190px;
}
.tsagaan-lake {
  padding-right: 120px;
}
.khlake {
  padding-right: 190px;
}

.aav {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 12px;
}
.eej {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 12px;
}
.ah {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 12px;
}
.egch {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 12px;
}
.duu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 12px;
}

.fbb-igg {
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 18px;
  gap: 40px;
  padding-left: 115px;
  padding-top: 230px;
}
.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  gap: 10px;
}

.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  gap: 10px;
}

.fbb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 251, 252, 1);
  border-radius: 999px;
  width: 167px;
  height: 44px;
  color: rgba(105, 114, 181, 1);
}

.igg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 251, 252, 1);
  border-radius: 999px;
  width: 167px;
  height: 44px;
  color: rgba(105, 114, 181, 1);
}

.logo2 {
  width: 101px;
  height: 35px;
  padding-left: 685px;
}
